<p id="notice"><%= notice %></p>

<h1>
  <strong>タスク詳細</strong>
 </h1>
【タイトル】
<br><%= @task2.title %>
<br>【内容】
<br><%= @task2.body %>
<br>

<%= link_to '編集', edit_task2_path(@task2) %> 
<%= link_to "削除", task2_path(@task2), method: :delete %>
<%= link_to '戻る', task2s_path %>
