<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task2.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @task2.body %>
</p>

<%= link_to 'Edit', edit_task2_path(@task2) %> |
<%= link_to 'Back', task2s_path %>
